      <span><span class="user"></span><%-name%></span>
      <span class="msg" ><span></span><div></div></span>
      <span class="dialog"></span>
      <span class="search"></span>
      <span class="memu"></span>