@charset "UTF-8";
.icons-sprite, .icons-archive, .icons-del16, .icons-edit16, .icons-eye, .icons-eye16, .icons-file16, .icons-font16, .icons-img16, .icons-male40, .icons-manage16, .icons-memu32, .icons-menu0, .icons-msg0, .icons-msg32, .icons-post16, .icons-rectangular0, .icons-rep16, .icons-replay, .icons-say32, .icons-search0, .icons-search32, .icons-unlock, .icons-user, .icons-user0, .icons-user32, .icons-user320, .icons-user9, .icons-users13, .icons-video16 {
  background-image: url('../../img/sprite/icons-s117c3a5715.png');
  background-repeat: no-repeat;
}

.icons-archive {
  background-position: 0 -96px;
}

.icons-del16 {
  background-position: -16px -32px;
}

.icons-edit16 {
  background-position: 0 -48px;
}

.icons-eye {
  background-position: 0 -240px;
}

.icons-eye16 {
  background-position: 0 -32px;
}

.icons-file16 {
  background-position: -18px -16px;
}

.icons-font16 {
  background-position: 0 -64px;
}

.icons-img16 {
  background-position: -16px -64px;
}

.icons-male40 {
  background-position: 0 -168px;
}

.icons-manage16 {
  background-position: 0 -80px;
}

.icons-memu32 {
  background-position: 0 -544px;
}

.icons-menu0 {
  background-position: 0 -216px;
}

.icons-msg0 {
  background-position: 0 -120px;
}

.icons-msg32 {
  background-position: 0 -512px;
}

.icons-post16 {
  background-position: -16px -80px;
}

.icons-rectangular0 {
  background-position: 0 -192px;
}

.icons-rep16 {
  background-position: -16px -48px;
}

.icons-replay {
  background-position: 0 -16px;
}

.icons-say32 {
  background-position: 0 -480px;
}

.icons-search0 {
  background-position: 0 -360px;
}

.icons-search32 {
  background-position: 0 -384px;
}

.icons-unlock {
  background-position: 0 -336px;
}

.icons-user {
  background-position: 0 -288px;
}

.icons-user0 {
  background-position: 0 -312px;
}

.icons-user32 {
  background-position: 0 -416px;
}

.icons-user320 {
  background-position: 0 -448px;
}

.icons-user9 {
  background-position: 0 -264px;
}

.icons-users13 {
  background-position: 0 -144px;
}

.icons-video16 {
  background-position: 0 0;
}

body {
  width: 1000px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
  font-size: 14px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-size-adjust: 100%;
}

section {
  padding: 20px;
}

ul, li {
  padding: 0;
}

li {
  list-style-type: none;
}

.form-control {
  height: 29px;
  line-height: 29px;
  font-size: 14px;
}

.btn {
  height: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
}

.form-group {
  padding: 0 0;
}

.input-group-btn .btn {
  height: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;
}

.label-list {
  max-height: 200px;
  overflow-y: auto;
}
