.icons-sprite, .icons-archive, .icons-close1, .icons-del16, .icons-edit16, .icons-eye, .icons-eye16, .icons-file16, .icons-font16, .icons-icon-next, .icons-icon-prev, .icons-img16, .icons-jj, .icons-jjj, .icons-ll, .icons-male40, .icons-manage16, .icons-memu32, .icons-menu0, .icons-msg0, .icons-msg32, .icons-page-next, .icons-page-prev, .icons-post16, .icons-rectangular0, .icons-rep16, .icons-replay, .icons-rl, .icons-say32, .icons-search0, .icons-search32, .icons-type-doc, .icons-type-doc1, .icons-type-exe, .icons-type-exe1, .icons-type-img, .icons-type-img1, .icons-type-music, .icons-type-music1, .icons-type-other, .icons-type-other1, .icons-type-vedio, .icons-type-vedio1, .icons-type-zip, .icons-type-zip1, .icons-unlock, .icons-user, .icons-user0, .icons-user32, .icons-user320, .icons-user9, .icons-users13, .icons-video16 {
  background-image: url('../../img/sprite/icons-s7c30815c09.png');
  background-repeat: no-repeat;
}

.icons-archive {
  background-position: -48px -128px;
}

.icons-close1 {
  background-position: -60px -278px;
}

.icons-del16 {
  background-position: -66px -24px;
}

.icons-edit16 {
  background-position: -34px -24px;
}

.icons-eye {
  background-position: 0 -128px;
}

.icons-eye16 {
  background-position: -18px -24px;
}

.icons-file16 {
  background-position: -48px 0;
}

.icons-font16 {
  background-position: -32px 0;
}

.icons-icon-next {
  background-position: -84px -278px;
}

.icons-icon-prev {
  background-position: -83px -224px;
}

.icons-img16 {
  background-position: -82px -24px;
}

.icons-jj {
  background-position: -24px -128px;
}

.icons-jjj {
  background-position: -84px 0;
}

.icons-ll {
  background-position: -98px -24px;
}

.icons-male40 {
  background-position: 0 -72px;
}

.icons-manage16 {
  background-position: 0 0;
}

.icons-memu32 {
  background-position: -72px -128px;
}

.icons-menu0 {
  background-position: -72px -72px;
}

.icons-msg0 {
  background-position: 0 -48px;
}

.icons-msg32 {
  background-position: -32px -160px;
}

.icons-page-next {
  background-position: 0 -278px;
}

.icons-page-prev {
  background-position: 0 -224px;
}

.icons-post16 {
  background-position: -16px 0;
}

.icons-rectangular0 {
  background-position: -96px -72px;
}

.icons-rep16 {
  background-position: -50px -24px;
}

.icons-replay {
  background-position: 0 -24px;
}

.icons-rl {
  background-position: -60px 0;
}

.icons-say32 {
  background-position: 0 -96px;
}

.icons-search0 {
  background-position: -96px -48px;
}

.icons-search32 {
  background-position: -32px -96px;
}

.icons-type-doc {
  background-position: -64px -96px;
}

.icons-type-doc1 {
  background-position: 0 -1100px;
}

.icons-type-exe {
  background-position: -96px -96px;
}

.icons-type-exe1 {
  background-position: 0 -716px;
}

.icons-type-img {
  background-position: -32px -192px;
}

.icons-type-img1 {
  background-position: 0 -588px;
}

.icons-type-music {
  background-position: 0 -160px;
}

.icons-type-music1 {
  background-position: 0 -332px;
}

.icons-type-other {
  background-position: -64px -160px;
}

.icons-type-other1 {
  background-position: 0 -972px;
}

.icons-type-vedio {
  background-position: -96px -192px;
}

.icons-type-vedio1 {
  background-position: 0 -460px;
}

.icons-type-zip {
  background-position: -96px -160px;
}

.icons-type-zip1 {
  background-position: 0 -844px;
}

.icons-unlock {
  background-position: -72px -48px;
}

.icons-user {
  background-position: -48px -48px;
}

.icons-user0 {
  background-position: -24px -48px;
}

.icons-user32 {
  background-position: -64px -192px;
}

.icons-user320 {
  background-position: 0 -192px;
}

.icons-user9 {
  background-position: -48px -72px;
}

.icons-users13 {
  background-position: -24px -72px;
}

.icons-video16 {
  background-position: -60px -224px;
}

.title {
  background: url(../img/static/ico-1.png) no-repeat 10px center;
  padding-left: 50px;
  margin: 10px 0;
  font-size: 18px;
}
.title .action-area {
  font-size: 14px;
  display: inline-block;
  float: right;
}

.comment-one {
  padding: 10px 10px 10px 110px;
  position: relative;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  margin: 10px 0;
}
.comment-one .edit {
  width: auto;
}
.comment-one .edit span {
  background-image: url('../../img/sprite/icons-sf346881448.png');
  background-position: -34px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 4px;
}
.comment-one .delete {
  width: auto;
}
.comment-one .delete span {
  background-image: url('../../img/sprite/icons-sf346881448.png');
  background-position: -66px -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 4px;
}
.comment-one .post {
  width: auto;
}
.comment-one .post span {
  background-image: url('../../img/sprite/icons-sf346881448.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 18px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 4px;
}
.comment-one .up {
  width: auto;
}
.comment-one .up span {
  background-image: url('../../img/sprite/icons-sf346881448.png');
  background-position: -32px 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 4px;
}

.upload-area input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.comment-one-aside {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100px;
  text-align: right;
}

.comment-one-info {
  padding: 10px;
  position: relative;
}

.info-action {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 350px;
  text-align: right;
}

.comment-img-list div {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.comment-img-list div span {
  position: absolute;
  width: 100%;
  background-color: #7f8c8d;
  color: #fff;
  text-align: center;
  bottom: 10px;
}

.post-article {
  border: 1px solid #ecf0f1;
  position: fixed;
  padding: 10px;
  bottom: 0;
  width: 800px;
  height: 200px;
  background-color: #fff;
}
.post-article input.form-control {
  display: inline-block;
  width: 340px;
}

.post-area {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: #fff;
}
.post-area div {
  display: inline-block;
}
.post-area div.width {
  width: 75%;
}
