.icons-sprite, .icons-archive, .icons-del16, .icons-edit16, .icons-eye, .icons-eye16, .icons-file16, .icons-font16, .icons-img16, .icons-male40, .icons-manage16, .icons-memu32, .icons-menu0, .icons-msg0, .icons-msg32, .icons-post16, .icons-rectangular0, .icons-rep16, .icons-replay, .icons-say32, .icons-search0, .icons-search32, .icons-unlock, .icons-user, .icons-user0, .icons-user32, .icons-user320, .icons-user9, .icons-users13, .icons-video16 {
  background-image: url('../../img/sprite/icons-s117c3a5715.png');
  background-repeat: no-repeat;
}

.icons-archive {
  background-position: 0 -96px;
}

.icons-del16 {
  background-position: -16px -32px;
}

.icons-edit16 {
  background-position: 0 -48px;
}

.icons-eye {
  background-position: 0 -240px;
}

.icons-eye16 {
  background-position: 0 -32px;
}

.icons-file16 {
  background-position: -18px -16px;
}

.icons-font16 {
  background-position: 0 -64px;
}

.icons-img16 {
  background-position: -16px -64px;
}

.icons-male40 {
  background-position: 0 -168px;
}

.icons-manage16 {
  background-position: 0 -80px;
}

.icons-memu32 {
  background-position: 0 -544px;
}

.icons-menu0 {
  background-position: 0 -216px;
}

.icons-msg0 {
  background-position: 0 -120px;
}

.icons-msg32 {
  background-position: 0 -512px;
}

.icons-post16 {
  background-position: -16px -80px;
}

.icons-rectangular0 {
  background-position: 0 -192px;
}

.icons-rep16 {
  background-position: -16px -48px;
}

.icons-replay {
  background-position: 0 -16px;
}

.icons-say32 {
  background-position: 0 -480px;
}

.icons-search0 {
  background-position: 0 -360px;
}

.icons-search32 {
  background-position: 0 -384px;
}

.icons-unlock {
  background-position: 0 -336px;
}

.icons-user {
  background-position: 0 -288px;
}

.icons-user0 {
  background-position: 0 -312px;
}

.icons-user32 {
  background-position: 0 -416px;
}

.icons-user320 {
  background-position: 0 -448px;
}

.icons-user9 {
  background-position: 0 -264px;
}

.icons-users13 {
  background-position: 0 -144px;
}

.icons-video16 {
  background-position: 0 0;
}

.header {
  background-color: #34495e;
  height: 50px;
  overflow: hidden;
  padding: 0 20px;
  line-height: 50px;
  position: relative;
}

.header .logo {
  color: #fff;
  background: url(../img/static/logo1.png) no-repeat 0 10px;
  padding-left: 40px;
  font-size: 30px;
  float: left;
}

.header .logo span {
  font-size: 24px;
}

.header .nav {
  position: absolute;
  right: 0;
  color: #fff;
}
.header .nav span {
  cursor: pointer;
  vertical-align: middle;
}
.header .nav .user {
  background-image: url('../../img/sprite/icons-se725b8fe85.png');
  background-position: 0 -416px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.header .nav .msg {
  position: relative;
}
.header .nav .msg span {
  background-image: url('../../img/sprite/icons-se725b8fe85.png');
  background-position: 0 -512px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.header .nav .msg div {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  font-size: 8px;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.header .nav .dialog {
  background-image: url('../../img/sprite/icons-se725b8fe85.png');
  background-position: 0 -480px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.header .nav .search {
  background-image: url('../../img/sprite/icons-se725b8fe85.png');
  background-position: 0 -384px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.header .nav .memu {
  background-image: url('../../img/sprite/icons-se725b8fe85.png');
  background-position: 0 -544px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.header-right {
  padding-right: 20px;
  position: relative;
}
.header-right span.arrow-down {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}
.header-right span.arrow-up {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -10px;
}
.header-right span.arrow-down:before, .header-right .span.arrow-down:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 4px;
  background: grey;
  position: absolute;
  top: 4px;
  left: 3px;
  -webkit-transform: rotate(45deg);
}
.header-right span.arrow-down:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 4px;
  background: grey;
  position: absolute;
  top: 4px;
  left: 8px;
  -webkit-transform: rotate(135deg);
}
.header-right span.arrow-up:before, .header-right .span.arrow-up:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 4px;
  background: grey;
  position: absolute;
  top: 4px;
  left: 3px;
  -webkit-transform: rotate(45deg);
}
.header-right span.arrow-up:after {
  content: ' ';
  display: block;
  width: 10px;
  height: 4px;
  background: grey;
  position: absolute;
  top: 4px;
  left: 8px;
  -webkit-transform: rotate(-45deg);
}

#notifyList {
  position: absolute;
  right: 20px;
  z-index: 100;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}
#notifyList li {
  width: 100%;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
