@charset "UTF-8";
body {
  font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ecf0f1;
  font-size: 14px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-size-adjust: 100%;
}

section {
  padding: 20px;
}

.header {
  background-color: #34495e;
  height: 50px;
  overflow: hidden;
  padding: 0 20px;
  line-height: 50px;
  position: relative;
}

.header .logo {
  color: #fff;
  background: url(../../img/statis/logo1.png) no-repeat 0 10px;
  padding-left: 40px;
  font-size: 30px;
  float: left;
}

.header .logo span {
  font-size: 24px;
}

.header .nav {
  position: absolute;
  right: 0;
  color: #fff;
}

.header-top {
  position: relative;
  height: 60px;
  padding: 6px 12px;
  border-bottom: 1px solid #34495e;
}

.header-left {
  float: left;
  width: 300px;
}

.header-left span {
  display: inline-block;
}

.header-right {
  position: absolute;
  right: 0;
}

/*
.header-right:after {
    content: ' ';
    display: block;
    width: 2px;
    height: 6px;
    background: #007aff;
    position: absolute;
    top: 8px;
    left: 3px;
    -webkit-transform: rotate(-45deg)	
}
*/
.article-list dl.art-list {
  background: url(../../img/statis/ico-1.png) no-repeat 10px center #fff;
  border-radius: 5px;
  padding: 10px;
  padding-left: 50px;
  margin: 10px 0;
}

.article-list dl.art-list dt {
  color: #7f8c8d;
  font-size: 18px;
}

.article-list dl.art-list dd {
  color: #666666;
  font-size: 12px;
}

.artice-title-info {
  background: url(../../img/statis/ico-1.png) no-repeat 10px center;
  padding-left: 60px;
}

.artice-title {
  position: relative;
  background-color: #fff;
  padding-bottom: 10px;
}

.artice-use {
  font-size: 14px;
}

.artice-act-btn {
  color: #fff;
  float: left;
}

.artice-act-btn .btn {
  width: 65px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0;
  font-size: 14px;
}

.actice-act-select {
  float: right;
}

.actice-act-select .btn {
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 14px;
}

.actice-act-select .select2-choice {
  padding: 5px 10px;
  font-size: 14px;
}

.artice-auto-refuse {
  position: absolute;
  top: 0;
  right: 0;
}

.artice-info {
  padding-right: 400px;
  position: relative;
}

.artice-info ul {
  padding: 0;
  margin: 0;
}

.artice-info li {
  padding: 6px 10px;
  border-top: 1px solid grey;
  list-style-type: none;
  background-color: #ffffff;
}

.artice-info .fui-heart {
  margin-right: 10px;
}

.artice-aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  background-color: #fff;
}

.artice-aside .btn-toolbar {
  width: 400px;
}

.artice-aside .btn-toolbar .btn-group {
  width: 100%;
}

.artice-aside .btn-toolbar .btn {
  width: 33%;
  padding: 0 10px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 14px;
}

.artice-aside-img {
  padding: 20px;
}

.artice-aside .img-list div {
  display: inline-block;
  width: 160px;
  margin-right: 15px;
}

.artice-one {
  padding: 10px 10px 10px 110px;
  position: relative;
}

.artice-one-aside {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100px;
  text-align: right;
}

.artice-one-info {
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.info-action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.artice-img-list div {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.artice-img-list div span {
  position: absolute;
  width: 100%;
  background-color: #7f8c8d;
  color: #fff;
  text-align: center;
  bottom: 10px;
}
