@import"common/icons";
.article-list dl.art-list{
	background:url(../img/static/ico-1.png) no-repeat 10px center #fff;
	border-radius:5px;
	padding:10px;
	padding-left:50px;
	margin:10px 0;

}
.article-list {
	a {
		cursor:pointer;

		&.disabled{
			color:grey;
		}
	}
}
.article-list dl.art-list dt{
	color:#7f8c8d;
	font-size:18px;
}
.article-list dl.art-list dd{
	color:#666666;
	font-size:12px;
}

.artice-title-info{
	background: url(../img/static/ico-1.png) no-repeat 10px center;
	padding-left:60px;
}

.artice-title{
	position:relative;
	background-color:#fff;
	padding-bottom: 10px;

	.artice-act-btn a{
		span{
			cursor:pointer;

			&.post{
				@include icons-sprite-retina("post16");
				display:inline-block;
				position:relative;
				top:2px;
			}
			&.follow{
				@include icons-sprite-retina("eye16");
				display:inline-block;
				position:relative;
				top:2px;				
			}
			&.manage{
				@include icons-sprite-retina("manage16");
				display:inline-block;
				position:relative;
				top:2px;				
			}
		}
	}
}

.artice-use{
	font-size:14px;
}

.artice-act-btn{
	color:#fff;
	float:left;
}
.artice-act-btn .btn{
	width:65px;
	height:29px;
	line-height:29px;
	text-align:center;
	padding:0;
	font-size:14px;
}
.actice-act-select{
	float:right;
}
.actice-act-select .btn{
	padding:0 10px;
	height:29px;
	line-height:29px;
	text-align:center;
	font-size:14px;
}
.actice-act-select .select2-container{
}
.actice-act-select .select2-choice{
	padding:5px 10px;
	font-size:14px;
}

.artice-auto-refuse{
	position:absolute;
	top:0;
	right:0;
}

.artice-info{
	 padding-right:200px; 
	 position:relative;
}
.artice-info ul{
	padding:0;
	margin:0;
}
.artice-info li{
	padding:6px 10px;
	border-top:1px solid grey;
	list-style-type:none;
	background-color:#ffffff;
}
.artice-info .fui-heart{
	margin-right:10px;
}
.artice-aside{
	position:absolute;
	top:0;
	right:0;
	width:200px;
	background-color:#fff;
}
.artice-aside .btn-toolbar{
	width:200px;

}
.artice-aside .btn-toolbar .btn-group{
	width:100%;
}
.artice-aside .btn-toolbar .btn{
	width:33%;
	padding:0 10px;
	height:29px;
	line-height:29px;
	text-align:center;
	font-size:14px;	
}
.artice-aside-img{
	padding:20px;
}
.artice-aside .img-list video{
	display:inline-block;
	width:100%;
}

.artice-aside .img-list img{
	display:inline-block;
	width:100%;
}

.artice-aside .img-list div{
	display:inline-block;
	width:160px;
	margin-right:15px;
}



.artice-one{
	padding:10px 10px 10px 110px;
	position:relative;


	.edit{
		cursor:pointer;
		span{
			@include icons-sprite-retina("edit16");
			display:inline-block;
			margin-right:6px;
			margin-top:4px;
		}
		width:auto;
	}
	.delete{
		cursor:pointer;
		span{
			@include icons-sprite-retina("del16");
			display:inline-block;
			margin-right:6px;
			margin-top:4px;
		}		
		width:auto;
	}
	.post{
		cursor:pointer;
		span{
			@include icons-sprite-retina("replay");
			display:inline-block;
			margin-right:6px;
			margin-top:4px;
		}		
		width:auto;
	}
	.up{
		cursor:pointer;
		span{
			@include icons-sprite-retina("font16");
			display:inline-block;
			margin-right:6px;
			margin-top:4px;
		}		
		width:auto;
	}	
}
.artice-one-aside{
	position:absolute;
	top:20px;
	left:0;
	width:100px;
	text-align:right;	
}
.artice-one-info{
	background-color:#fff;
	border:1px solid #bdc3c7;
	border-radius:5px;
	padding:10px;
	position:relative;
}
.info-action{
	position:absolute;
	top:10px;
	right:10px;
}
.artice-img-list div{
	position:relative;
	display:inline-block;
	margin-right:10px;
}
.artice-img-list div span{
	position:absolute;
	width:100%;
	background-color:#7f8c8d;
	color:#fff;
	text-align:center;
	bottom:10px;
}
.post-article{
	border:1px solid #ecf0f1;
	position:fixed;
	padding:10px;
	bottom:0;
	width:800px;
	height:200px;
	background-color:#fff;

	input.form-control{
		display:inline-block;
		width:340px;
	}
}

.upload-area{
	display:inline-block;
	width:60px;
	input{
		opacity: 0;
		position: absolute;
		top: 0;
		width: 50px;
	}
}
.post-height{
	height:20px;
}