body{
  font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#ecf0f1;
  font-size:14px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-size-adjust: 100%;
}
section{
	padding:20px;
}
ul,li{
	padding:0;
}
li{
	list-style-type:none;
}