@import"common/icons";
body{
  width:1000px;
  margin:0 auto;
  overflow-y:auto;
  overflow-x:hidden;
  font-family: '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color:#ecf0f1;
  font-size:14px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-text-size-adjust: 100%;
}
section{
	padding:20px;
}
ul,li{
	padding:0;
}
li{
	list-style-type:none;
}
.form-control{
  height: 29px;
  line-height: 29px;
  font-size: 14px; 
}
.btn{
  height: 29px;
  line-height: 29px;
  text-align: center;
  padding: 0 10px;
  font-size: 14px;  
}
.form-group {
  padding:0 0;
}
.input-group-btn {
  .btn{
    height: 29px;
    line-height: 29px;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;     
  }
}
.label-list{
  max-height:200px;
  overflow-y:auto;
}
