@import"common/icons";
.header{
	background-color:#34495e;
	height:50px;
	overflow:hidden;
	padding:0 20px;
	line-height:50px;
	position:relative;
}
.header .logo{
	color:#fff;
	background:url(../img/static/logo1.png) no-repeat 0 10px;
	padding-left:40px;
	font-size:30px;
	float:left;
}
.header .logo span{
	font-size:24px;
}
.header .nav{
	position:absolute;
	right:0;
	color:#fff;

	span{
		cursor:pointer;
		vertical-align:middle;
	}

	.user{
		@include icons-sprite-retina("user32");
		display:inline-block;
	}
	.msg{
		position:relative;
		span{
			@include icons-sprite-retina("msg32");
			display:inline-block;
		}
		div {
			display:none;
			position: absolute;
			top: 50%;
			left: 50%;
			background-color: red;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			line-height: 20px;
			font-size: 8px;
			text-overflow: ellipsis;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
		}
	}
	.dialog{
		@include icons-sprite-retina("say32");
		display:inline-block;
	}
	.search {
		@include icons-sprite-retina("search32");
		display:inline-block;
	}		
	.memu {
		@include icons-sprite-retina("memu32");
		display:inline-block;
	}				
}
.header-right{
	padding-right:20px;
	position:relative;

	span {

		&.arrow-down{
			height: 16px;
			width: 16px;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top:-10px;
		}

		&.arrow-up{
			height: 16px;
			width: 16px;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top:-10px;
		}

	}

	span.arrow-down:before,.span.arrow-down:after  {
		content: ' ';
		display: block;
		width: 10px;
		height: 4px;
		background: grey;
		position: absolute;
		top: 4px;
		left: 3px;
		-webkit-transform: rotate(45deg);
	}

	span.arrow-down:after {
		content: ' ';
		display: block;
		width: 10px;
		height: 4px;
		background: grey;
		position: absolute;
		top: 4px;
		left: 8px;
		-webkit-transform: rotate(135deg);
	}

	span.arrow-up:before,.span.arrow-up:after  {
		content: ' ';
		display: block;
		width: 10px;
		height: 4px;
		background: grey;
		position: absolute;
		top: 4px;
		left: 8px;
		-webkit-transform: rotate(45deg);
	}

	span.arrow-up:after {
		content: ' ';
		display: block;
		width: 10px;
		height: 4px;
		background: grey;
		position: absolute;
		top: 4px;
		left: 3px;
		-webkit-transform: rotate(-45deg);
	}	
}
#notifyList{
	position: absolute;
	right: 20px;
	z-index: 100;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 150px;
	max-height: 300px;
	overflow-y: auto;
	display:none;

	li{
		width:100%;
		text-overflow: ellipsis;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
	}
}