.mark-area{
  position: absolute;
  top: 200px;
  z-index: 2000;
  width: 900px;
  left: 50%;
  margin-left: -450px;

  .modal-dialog{
  	width:900px;
  	position:relative;
  }
}

.mark-player{
	width:600px;

	.select-marktime{
	  position: absolute;
	  z-index: 999999;
	  bottom: 0;
	  width: 360px;
	  height: 30px;
	  left:60px;
	  top:8px;	

	  .mark-pat{
	  	position:absolute;
	  	left:0;
	  	width:20px;
	  	height:30px;
	  	border-left:1px solid red;
	  	cursor:pointer;

	  	&:hover{
	  		background-color:#000;
	  		opacity: 0.2;
	  	}
	  }	
	  .mark-pat1{
	  	position:absolute;
	  	right:0;
	  	width:20px;
	  	height:30px;
	  	
	  	border-right:1px solid red;
	  	cursor:pointer;

	  	&:hover{
	  		background-color:#000;		
	  		opacity: 0.2;
	  	}	  	
	  }	

	  .mark-block{
	  		width:360px;
	  		height:30px;
	  		position:absolute;
	  		left:0;
	  		background-color:#000;		
	  		opacity: 0.2;	  	
	  }	  
	}
	.vjs-progress-control{
		width:360px;
	}

	.vjs-current-time{
		right:125px;
		text-align:right;
	}

	.vjs-duration{
		text-align:left;
		right:73px;
	}
}

.mark-post{
	height:100px;

	textarea{
		width:100%;
		height:70px;
	}

	.mark-action2{
		display:none;
	}
}

.mark-aside{
	width:240px;
	padding:0 30px;
	position:absolute;
	top:0;
	right:0;
}

#markList{
	height:440px;
	overflow-y:auto;
	padding-top:10px;

	li{
		border:1px solid #f8f8f8;
		border-radius:5px;
		font-size:12px;
		margin-bottom:10px;
		padding:8px;
	}

	p{
		font-size:12px;
	}
}