.section{
	width:600px;
	position:absolute;
	top:50%;
	margin-top:-200px;
	left:50%;
	margin-left:-300px;
}

.logo-area{
	float:left;
	width:100px;
	text-align:center;
}

.logo{
	background:url(../img/static/logo.png) no-repeat;
	width:60px;
	height:60px;
	margin:0 auto;
}

.login-form{
	width:400px;
	float:right;
}